<section class="login-page">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
        
    <%- login %>
</section>


    <%- skrp %> 




    
  
