<section class="register-page">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
        
    <!-- <h2>
        <%# messages() %>
    </h2> -->
    <%- register %>
    <%- skrp %> 
</section>