<section class="register-page">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
        
    
    <%- register %>
    <%- skrp %> 
</section>